body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0;
}

#content {
    flex-grow: 1;
}

.navbar.bg-light {
    background-color: #f8f8f8 !important;
}

@media (max-width: 576px) {
    .navbar-brand {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .navbar form {
        margin-top: 15px;
    }
}

.form-control:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.15rem rgba(92,99,106, 0.5);
}

.checkins {
    list-style: none;
    margin-top: 25px;
    padding-left: 50px;
}

@media (max-width: 768px) {
    .checkins {
        padding-left: 0;
    }
}

.checkin {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}

.checkin:not(:last-child) {
    border-bottom: 1px dashed #e5e5e5;
}

@media (max-width: 768px) {
    .checkin {
        flex-direction: column;
        padding-bottom: 5px;
    }
}

.date-message {
    text-align: center;
    color: #808080;
    margin-top: 25px;
}

.date-message .fa-calendar {
    padding-right: 3px;
}

.wrapper {
    display: flex;
    width: 400px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .wrapper {
        width: auto;
    }
}

.beer-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .beer-info {
        width: auto;
    }
}

.beer-name {
    font-weight: 500;
    margin-bottom: 2px;
}

.beer-name a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.beer-brewery {
    margin-bottom: 2px;
}

.beer-brewery a {
    font-size: 16px;
    text-decoration: none;
    color: #cc6600;
}

.beer-brewery a:hover {
    color: #ff9933;
}

.beer-style {
    font-size: 14px;
    color: #808080;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .beer-style {
        margin-bottom: 5px;
    }
}

.beer-label {
    display: inline-block;
}

.beer-label img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.beer-rating {
    margin-top: 4px;
    margin-left: 60px;
}

@media (max-width: 768px) {
    .beer-rating {
        margin-left: 100px;
    }
}

.beer-meta {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: 60px;
}

@media (max-width: 768px) {
    .beer-meta {
        width: auto;
        margin-left: 100px;
        margin-top: 10px;
    }
}

.beer-meta div {
    margin-bottom: 4px;
    color: #808080;
}

@media (max-width: 768px) {
    .beer-meta div {
        margin-bottom: 7px;
    }
}

@media (max-width: 768px) {
    .beer-abv {
        display: inline-block;
        padding-right: 8px;
    }

    .beer-ibu {
        display: inline-block;
        border-left: 1px solid #808080;
        padding-left: 8px;
    }
}

.beer-meta .wrapper-meta {
    margin-bottom: 0;
}

.beer-location {
    position: relative;
    color: #808080;
    padding-left: 20px;
    margin-bottom: 4px;
}

.beer-location::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url("../img/pin.svg");
    background-size: cover;
    width: 17px;
    height: 17px;
}

.beer-checkin-time {
    width: 100px;
    margin-left: 60px;
    padding-top: 10px;
    color: #808080;
}

@media (max-width: 768px) {
    .beer-checkin-time {
        width: auto;
        margin-left: 100px;
        padding-bottom: 10px;
        padding-top: 3px;
    }
}

.beer-checkin-time .fa-clock {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    color: #e5e5e5;
}

.beer-checkin-time time {
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    .beer-checkin-time time {
        display: initial;
    }
}

@media (max-width: 768px) {
    .beer-checkin-time .fa-clock {
        display: initial;
        text-align: left;
        padding-right: 3px;
    }
}

.caps {
    display: inline-block;
}

.beer-rating-value {
    display: inline-block;
    padding-left: 3px;
    vertical-align: text-bottom;
}

.beer-rating-count {
    padding-top: 8px;
    text-align: center;
    color: #808080;
}

@media (max-width: 768px) {
    .beer-rating-count {
        font-size: 14px;
        padding-top: 0;
        text-align: left;
    }
}

.cap {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../img/cap@2x.png");
    background-size: cover;
}

.cap-10 {
    background-image: url("../img/cap-10@2x.png");
}

.cap-20 {
    background-image: url("../img/cap-20@2x.png");
}

.cap-30 {
    background-image: url("../img/cap-30@2x.png");
}

.cap-40 {
    background-image: url("../img/cap-40@2x.png");
}

.cap-50 {
    background-image: url("../img/cap-60@2x.png");
}

.cap-60 {
    background-image: url("../img/cap-60@2x.png");
}

.cap-70 {
    background-image: url("../img/cap-70@2x.png");
}

.cap-80 {
    background-image: url("../img/cap-80@2x.png");
}

.cap-90 {
    background-image: url("../img/cap-90@2x.png");
}

.cap-100 {
    background-image: url("../img/cap-100@2x.png");
}

.pagination {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 50px;
}

@media (max-width: 768px) {
    .pagination {
        padding-left: 10px;
    }
}

.page-item.active .page-link {
    background-color: #ff9933;
    border-color: #ff9933;
}

.page-item.disabled {
    display: none;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}

footer {
    font-size: 18px;
    color: #808080;
    min-height: 100px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-right: 50px;
    margin-top: 20px;
}

.copyright {
    padding-right: 26px;
}

.developer {
    font-size: 14px;
}

.developer a {
    text-decoration: none;
    font-weight: 500;
    color: #808080;
}

@media (max-width: 768px) {
    footer {
        align-items: center;
        padding-right: 0;
    }

    .copyright {
        padding-right: 0;
    }
}
